.btn {
    width: 194px;
    height: 45px;
    border-radius: 20px;
    background-color: $icons-buttons-color;
    font-size: 12px;
    color: $white-color;
    font-family: $page-font;
    font-weight: $thick-font;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    align-content: center;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: $white-color;
        color: $icons-buttons-color;
    }
}

button.about-btn,
.btn-premium {
    text-transform: uppercase;
    margin: 33px 0;
    &:hover {
        background-color: $icons-buttons-color;
        color: $white-color;
    }
}

.btn-premium {
    margin: 0 auto 60px;
}

.btn-projects,
.btn-projects-menu {
    background-color: #000;
    color: $white-color;
    margin: 29px 0 20px 0;
    margin: 0 auto;
    &:hover {
        background-color: #000;
        color: $white-color;
    }
}

.btn-projects-menu {
    margin: 10px auto;
    border-radius: 0;
}

.btn-price {
    width: 129px;
    height: 45px;
    background-color: #373737;
    margin: 30px auto 51px;
    &:hover {
        background-color: $icons-buttons-color;
        color: $white-color;
    }
}

.contact-btn {
    margin-top: 5px;
}